<main>
  <div class="row">
    <div class="col s12 m10">
      <div class="card blue-grey lighten-4">
        <div class="card-content black-text">
         <h4>Account Successfully Activated! </h4>
          <blockquote>
              <span class="card-title">Thank you for registering and activating you account</span>
              <p class="white-tex">Now you can log in! </p>
            </blockquote>
        </div>
        <div class="card-action">
          <a class="btn blue" routerLink="/login">Continue</a>
        </div>
      </div>
    </div>
  </div>
</main>