<div class="">
  <ul id="slide-out" class="side-nav grey darken-4  fixed ">
      <li>

          <div class="user-view">
              <div class="background ">

              </div>
              <div class="user center-align">
                  <img src="../assets/img/imagenes/logo.png">
              </div>
          </div>
      </li>

      <li><a class=" white-text" routerLink="/videos"><i class="material-icons white-text">video_library</i>Videos</a></li>



      <li><a class=" white-text" routerLink="/profiles"><i class="material-icons white-text">supervised_user_circle</i>Profiles</a></li>


    
  </ul>

</div>